*********WARNING****************
You are attempting to log into a "{{ private }}"
Administrator: "{{ admin }}"
Server: "{{ ansible_facts['nodename'] }}"
If you have malitious intentions, please logout.
**************WARNING***************
