
Congratulations you have logged in to a "{{ private }}" webserver
The administrator for this server is "{{ admin }}"
Distribution: "{{ ansible_facts['distribution'] }}"
Total Memory: "{{ ansible_facts['memtotal_mb'] }}"



