*******WARNING*********
YOu are accessing a machine that belongs to {{ company_name }}
If your intentions are not dubious, please stop now.
YOu must have permission from the {{ admin_user }} to access this machine
