This is the {{ ansible_facts['hostname'] }} system.
Today's date is: {{ ansible_facts['date_time']['date'] }}.
Only use this ssytem {{ ansible_hostname }} with permission from {{ ansible_user_id }}.

